
    <article class="review article_style">
      <a href="/review/{{id}}">
      <img class="article_img" src="/image/blog1.jpg" />
      <div class="title">
        {{title}}
      </div>
    </a>
      <div class="meta">
        {{vote_count}}
        {{format_plural "point" vote_count}}
        by
        {{user.username}}
        on
        {{format_date created_at}}
        |
        <a href="/review/{{id}}">{{comments.length}}
          {{format_plural "comment" comments.length}}</a>
      </div>
</article>
