<article class="review article_style">
    <a href="/review/{{id}}">
        <div class="title">
<<<<<<< HEAD
            <h1>{{title}}</h1>
            <h5>{{user.username}}</h5>
        <img id='img' class="article_img" src="" />
=======
        <img id='img' class="article_img" src="" />
         <h1>{{title}}</h1>
         <h5>{{user.username}}</h5>
>>>>>>> katya/upload

            {{#if loggedIn}}
            <p>{{review_url}}</p>
            {{/if}}

            <p>{{review_cat}}</p>
        </div>
    </a>
    <div class="meta">
        {{#if loggedIn}}
        {{!-- <img id='img' class="article_img" src='{{review_file}}' /> --}}
        {{vote_count}}
        {{format_plural "point" vote_count}}
        by
        {{user.username}}
        on
        {{format_date created_at}}
        |
        <a href="/review/{{id}}">{{comments.length}}
            {{format_plural "comment" comments.length}}</a>
        {{/if}}
    </div>
</article>
<script>
    console.log(document.querySelectorAll('.review '))
    if (document.querySelectorAll('.edit_review_section').length) {

<<<<<<< HEAD

=======
    console.log({{loggedIn}})
    console.log(document.querySelectorAll('.review '))
    if (document.querySelectorAll('.edit_review_section').length) {
>>>>>>> katya/upload
        for (let i = 0; i < document.querySelectorAll('.edit_review_section').length; i++) {
             document.querySelectorAll('#img')[i].src = localStorage[i]
            // console.log(localStorage[i])
        }
    }
<<<<<<< HEAD

=======
>>>>>>> katya/upload
</script>