
    <article class="review article_style">
      <a href="/review/{{id}}">
      <img class="article_img" src="/image/blog1.jpg" />
      <div class="title">
        <h1>{{title}}</h1>
        <h5>{{user.username}}</h5>
        <p>{{review_url}}</p>
        <p>{{review_cat}}</p>
      </div>
    </a>
      <div class="meta">
        {{vote_count}}
        {{format_plural "point" vote_count}}
        by
        {{user.username}}
        on
        {{format_date created_at}}
        |
        <a href="/review/{{id}}">{{comments.length}}
          {{format_plural "comment" comments.length}}</a>
      </div>
</article>
